@font-face {
  font-family: 'sansus';
  font-weight: bold;
  src: url('/css/fonts/sansus.otf') format('opentype');
}

body {
  margin: 0;
  background: #71c5cf;
  width: 100%;
  height: 100%;
  display: table;
}
#game {
  vertical-align: middle;
  display: table-cell;
}
canvas {
  margin: 0 auto;
}